<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new chats</title>
    <link rel="stylesheet" href="/index.css" />
</head>
<body>
    <h3>Create a New chat</h3>
    <form action ="/chats" method="post">
        <input placeholder="Who are you chatting with?" name="from" required/>
        <br> <br>
        <textarea name="message"> write your message here</textarea>
        <br> <br>
        <input placeholder="Add recever" name="to" required/>

        <br> <br>
        <button>Create chat</button>


    </form>
    
</body>
</html>